* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 9vh;
  width: 100%;
  position: fixed;
  padding: 0 12vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.logo-img {
  height: 17px;
  width: 8vw;
}
.options {
  display: flex;
  gap: 40px;
  color: grey;
}
.options a {
  text-decoration: none;
  color: grey;
}
body {
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
}

.body-1 {
  height: 800px;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.img-logo-2 {
  width: 56vw;
  height: 45vh;
}

.child-2 {
  width: 850px;
  /* margin-top: 50px; */
  /* background-color: antiquewhite;
  border: 2px solid red; */
  text-align: center;
}
.child-2 h1 {
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
}
.child-2 p {
  font-size: 1.25rem;
  padding-top: 10px;
  word-spacing: 2px;
}
.child-3 button {
  height: 40px;
  width: 200px;
  background-color: #387ed1;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}
.child-3 button:hover {
  background-color: cornflowerblue;
}
.body-2 {
  height: 600px;
  padding: 0 12vw;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-evenly;
}
.child-4 {
  height: 100%;
  width: 100%;
  /* background-color: aqua;
  border: 2px solid red; */
}
.child-4 heading {
  width: 700px;
}
.child-4 dd {
  font-size: 15.5px;
  line-height: 1.6;
  padding-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.child-5 {
  margin-left: 30px;
}
.child-5 img {
  max-width: 100%;
  width: auto;
  /* background-color: aqua;
  border: 2px solid red; */
}
.child-5 .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.links a {
  text-decoration: none;
  color: #387ed1;
  padding-top: 30px;
}
.media {
  height: 100px;
  width: auto;
  text-align: center;
  padding-left: 20px;
}
